<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="کارگزاری , بیمه , کارگزاری بیمه , کارگزاری بیمه 751" />
  <meta name="description" content="سایت کارگزاری بیمه 751">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>قالب سایت کارگزار</title>
  <!-- bootstrap css -->
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
  <!-- main style css -->
  <link rel="stylesheet" href="../assets/css/main.css">
  <!-- fontawesome cdn  -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<!-- header -->
<header>
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-7 col-sm-8 col-6">
          <div class="logo">
            <figure class="pt-2">
              <img src="../assets/image/logo.png" alt="logo" class="img-fluid">
            </figure>
            <figcaption class="pr-3 font-weight-bold">
              <a href="#">کارگزاری بیمه 751</a>
            </figcaption>
          </div>
        </div>
        <div class="col-lg-3 col-md-5 col-sm-4 col-6">
          <div class="header-top__left">
            <ul class="list-inline d-flex p-0 m-0">
              <li>
                <i class="fa fa-sign-in"></i>
                <a href="#" data-toggle="modal" data-target="#modal-login">ورود</a>
              </li>
              <li>
                <i class="fa fa-user"></i>
                <a href="#" data-toggle="modal" data-target="#modal-register">ثبت نام</a>
              </li>
              <li>
                <i class="fa fa-shopping-cart "></i>
                <a href="#">سبدخرید</a>
              </li>
            </ul>
            <div class="header-top__left-phonecall text-right mr-4 mt-5 d-flex">
               <i class="fa fa-phone-square fa-3x pl-3"></i>
               <a href="#">021-57553936</a>
            </div>
            <!-- end header-top__left-phonecall -->
          </div>
        </div>
        <!-- end col-lg-6 -->
      </div>
    </div>
  </div>
  <!-- end header-top -->
  <!-- modal login -->
  <div class="modal fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="fa fa-close"></i></span>
          </button>
          <h5 class="modal-title">ورود به سایت</h5>
        </div>
        <div class="modal-body text-right">
          <div class="container-fluid">
            <form action="">
              <div class="row">
                <div class="col-md-12">
                  <label for="">ایمیل</label>
                  <input type="email" class="form-control" >
                </div>
                <div class="col-md-12">
                  <label for="" class="mt-3">رمز عبور</label>
                  <input type="password" class="form-control" >
                  <small  class="form-text text-muted">تعداد کاراکترها بیشتر از 8 کاراکتر باشد</small>
                </div>
                <div class="col-md-12">
                  <div class="form-check mt-3">
                   <input type="checkbox" class="form-check-input" id="exampleCheck1">
                   <label class="form-check-label mr-3" for="exampleCheck1">مرا به خاطر بسپار</label>
                 </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12 col-md-12">
                <button type="button" class="btn btn-default change-btn">ارسال</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- end modal login -->

  <!-- Modal register -->
<div class="modal fade" id="modal-register" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fa fa-close"></i></span>
        </button>
        <h5 class="modal-title">ثبت نام</h5>
      </div>
      <div class="modal-body text-right">
        <div class="container-fluid">
          <form action="">
            <div class="row">
              <div class="col-6 col-md-6">
                <label for="">نام</label>
                <input type="text" name="" class="form-control">
              </div>
              <div class="col-6 col-md-6">
                <label for="">نام خانوادگی</label>
                <input type="text" name="" class="form-control">
              </div>
              <div class="col-6 col-md-6">
                <label for="" class="mt-2">ایمیل</label>
                <input type="email" name="" class="form-control" data-toggle="tooltip" data-placement="bottom" title="لطفا فیلد را پر کنید">
              </div>
              <div class="col-6 col-md-6">
                <label for="" class="mt-2">رمز عبور</label>
                <input type="password" name="" class="form-control" data-toggle="tooltip" data-placement="bottom" title="لطفا فیلد را پر کنید">
              </div>
              <div class="col-md-12">
                <label for="" class="mt-2">آدرس</label>
                <textarea name="name" rows="8" cols="80" class="form-control"></textarea>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-6 col-md-6">
            <button type="button" class="btn btn-default close-btn" data-dismiss="modal">بستن</button>
            </div>
            <div class="col-6 col-md-6">
              <button type="button" class="btn btn-default change-btn">ارسال</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end modal register -->

  <!-- header main nav -->
  <div class="header-mainnav">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav text-right m-0 p-0">
            <li class="nav-item">
              <a class="nav-link" href="#">صفحه اصلی<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">محصولات</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">پرسش های متداول</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">اخبار</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">درباره ما</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">تماس باما</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0 mr-auto position-relative">
            <input class="form-control mr-sm-2" type="search" placeholder="جست وجو" aria-label="Search">
            <i class="fa fa-search position-absolute "></i>
          </form>
        </div>
      </div>
    </nav>
  </div>
</header>

<!-- main -->
<main>
  <div class="contact-content">
    <div class="contact-content__title mt-4 mb-4">
      <h2 class="text-center">راه های ارتباط با ما</h2>
    </div>
    <hr>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <ul class="connect list-inline  m-0 text-right">
            <li class="text-center pb-3"><strong>ایمیل:</strong>
              info@kargozar751.com
            </li>
            <li class="text-center pb-3">
              <strong>شماره تماس با ما :</strong>
              126546585222
            </li>
            <li class="text-center pb-3">
              <strong>ای دی تلگرام :</strong>
              <a href="#">kargozar751_support@</a>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <div class="contact-form">
            <h3 class="contact-form_title text-center mb-3">ارسال پیشنهادات و انتقادات</h3>
            <form action="#" class="text-right">
              <div class="row">
                <div class="col-md-6">
                  <label for="">نام شما</label>
                  <input type="text" class="form-control">
                </div>
                <div class="col-md-6">
                  <label for="">آدرس ایمیل شما</label>
                  <input type="email" class="form-control">
                </div>
                <div class="col-md-12">
                  <label for="" class="mt-2">متن پیام شما</label>
                  <textarea name="name" rows="8" cols="80" class="form-control"></textarea>
                </div>
                <div class="col-md-12">
                  <button type="submit" class="btn-form btn-block mt-3">ارسال پیام</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- footer -->
<footer class="mt-3">
  <div class="container">
    <div class="row text-white">
      <div class="col-lg-4 col-md-6">
        <h6 class="text-right mt-5 mb-3">درباره ما</h6>
        <p class="text-justify footer-aboutus__text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، </p>
      </div>
      <div class="col-lg-4 col-md-6">
        <h6 class="text-right mt-5 mb-3">آخرین مطلب</h6>
        <ul class="list-inline p-0 m-0 footer-lastnews__list text-right">
          <li>طراحی وب سایت کارگزاری 751 در شرکت نیودیتا در حال طراحی است</li>
          <li>طراحی وب سایت کارگزاری 751 در شرکت نیودیتا در حال طراحی است</li>
          <li>طراحی وب سایت کارگزاری 751 در شرکت نیودیتا در حال طراحی است</li>
          <li>طراحی وب سایت کارگزاری 751 در شرکت نیودیتا در حال طراحی است</li>
          <li>طراحی وب سایت کارگزاری 751 در شرکت نیودیتا در حال طراحی است</li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-12 text-right">
        <h6 class="mt-5 mb-3">تماس با ما</h6>
         <p>
           آدرس : تهران ، میدان تجریش ، خیابان فناخسرو ، پلاک 34 ، واحد <br>
           تلفن : 22487451 <br>
           فکس : 255646415 <br>
           ایمیل : admin@gmail.com
         </p>

         <div class="footer-socialmedia">
           <ul class="list-inline d-flex p-0 m-0">
             <li><a href=""><i class="fa fa-google-plus-square"></i></a></li>
             <li><a href=""><i class="fa fa-instagram"></i></a></li>
             <li><a href=""><i class="fa fa-facebook-square"></i></a></li>
             <li><a href=""><i class="fa fa-twitter-square"></i></a></li>
           </ul>
         </div>
      </div>
      </div>
    <div class="footer-copyright text-white text-center">
      <p> 1398 &copy;</p>
    </div>
  </div>
</footer>

<!-- jquery js -->
<script src="../assets/js/jquery-3.2.1.min.js"></script>
<!-- bootstrap js -->
<script src="../assets/js/bootstrap.min.js"></script>
<!-- bootstrap.bundle js -->
<script src="../assets/js/bootstrap.bundle.min.js"></script>
</body>
</html>
